@import './device.scss';
@import './upgrade.scss';
@import './orders.scss';

.deviceContentWrapper {
  padding: 0 15px;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.MainDevicesInfo {
  text-align: center;
  color: $color-text;
  padding: 30px 0 85px;

}

.MainDevicesInfo--textMyDevices {
  font-size: 25px;

}

.MainDeviceCategoryRow {
  display: table;
  //width: 100%;
  margin: 0 auto;
  //max-width: 700px;
}

.MainDeviceItem {
  padding: 0 15px; //1.5%;
  float: left;
  width: $x6;
  //min-width: 205px;
  //height: 275px;
  p {
    padding-top: 30px;
    font-size: 18px;
    color: #262a31;
    margin-bottom: 20px;

  }
}

.MainDeviceItem--innerWrap {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dddfe2;
  text-align: center;
  transition: all .3s ease-out;
  width: 205px;
  height: 275px;

}

.MainDeviceItem--innerWrap:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.notDeviceShadow:hover {
  box-shadow: none;
  transition: none;
  color: rgba(38, 42, 49, 0.33);
  cursor: auto;
}

.notDeviceShadow {
  //-webkit-filter: grayscale(100%);
  p, div {
    color: rgba(38, 42, 49, 0.33);
  }
}

.MainDeviceItem--Image {
  /*margin: 0 auto;
  width: 100%;
  //height: 139px;
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;*/
  margin: 0 auto;
  height: 180px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.downloadIcon__Bracelet {
  background-image: url("/static/mytrak/public/img/bracelet.png");
  width: 100px;
  //background-size: 105px 156px;
}

.downloadIcon__Tonometr {
  background-image: url("/static/mytrak/public/img/tonometr.png");
  width: 150px;
  //background-size: 155px 137px;
}

.downloadIcon__reduxBracelet {
  width: 74px;
  height: 139px;
  padding: 15px 0;
}

.downloadIcon__reduxTonometr {
  width: 125px;
  height: 139px;
  padding: 15px 0;
}

.downloadIcon__Scales {
  background-image: url("/static/mytrak/public/img/scales.png");
  //background-size: 95px 95px;
}

.downloadIcon__HeartRate {
  background-image: url("/static/mytrak/public/img/heart_rate_monitor.png");
  //background-size: 100px 100px;
}

.connectDevice {
  font-size: 13px;
  color: #6b7485;
  margin: 20px 0 30px;
}

.scoreOneTrackTransition--button {
  display: table;
  max-width: 539px;
  height: 66px;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: inset 0 0 0 1px #e7e9eb;
  margin: 0 auto;
  margin-top: 191px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  transition: all .3s ease-out;
  p {
    display: table-cell;
    vertical-align: middle;
    font-family: $Roboto-regular;
    font-size: 13px;
    font-weight: 400;
    color: $color-primary;
    span {
      color: #a58144;
    }
  }

}

.scoreOneTrackTransition--button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 2px #e7e9eb;
}

@media (max-width: $layout-breakpoint-sm) {
  .MainDeviceItem {
    width: $x6;
  }
}

@media (max-width: $layout-breakpoint-xxs) {
  .MainDeviceItem {
    width: $x12;
  }
  .downloadIcon__Bracelet {

    background-size: 85px 136px;
  }

  .downloadIcon__Tonometr {

    background-size: 135px 117px;
  }
}
