
.deviceUpgrade {
  width: 100%;
  max-width: 735px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.deviceUpgrade--Header {

}

.deviceUpgrade--HeaderTitle {
  font-family: $Roboto-light;
  font-size: 25px;
  color: $color-primary;
  text-align: center;
  padding: 22px 0 9px 0;
}

.deviceUpgrade--HeaderSign {
  font-family: $Roboto-light;
  font-size: $font-size-small;
  color: $color-primary;
  text-align: center;
}

.deviceUpgrade-ItemRow {
  padding-top: 40px;
}

.deviceUpgrade--InputWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.deviceUpgrade--Input {
  font-family: $Roboto-light;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}

.deviceUpgrade--InputInnerWrap {
  max-width: 300px;
}

.deviceUpgrade--ItemTitle {
  font-family: $Roboto-regular;
  font-size: $font-size-normal;
  color: $color-primary;
  padding-bottom: 30px;
}

.deviceUpgrade-TotalScoreWrap {
  margin-top: 40px;
  display: table;
  width: 100%;
}

.deviceUpgrade-TotalScore {
  display: table-cell;
  vertical-align: middle;
  height: 49px;
  border-top: 2px solid #e7e9eb;
  border-bottom: 2px solid #e7e9eb;
}

.deviceUpgrade-TotalScoreText, .deviceUpgrade-TotalScorePrice {
  font-family: $Roboto-regular;
  font-size: $font-size-normal;
  color: $color-primary;
  display: inline-block;
}

.deviceUpgrade-TotalScorePrice {
  float: right;
}

.deviceUpgrade--ButtonWrap {
  margin-top: 50px;
  margin-bottom: 50px;
}

.deviceUpgrade--ModernizationArrowWrap {
  position: relative;
  width: 40px;
}

.deviceUpgrade--ModernizationArrow {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
}

.deviceUpgrade--ModelTitle {
  padding-left: 40px;
  padding-bottom: 25px;
  font-family: $Roboto-regular;
  font-size: $font-size-small;
  color: $color-text-no-active;
}

.deviceUpgrade--ModelName {
  padding: 24px 0 24px 40px;
  font-family: $Roboto-light;
  font-size: $font-size-normal;
  color: $color-primary;
  border: 1px solid #e7e9eb;
  border-radius: 4px;
}

.deviceUpgrade--PaymentMethodTitle{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: $Roboto-regular;
  font-size: $font-size-small;
  color: $color-text-no-active;
}

.deviceUpgrade--PaymentMethodDescription{
  line-height: 16px;
  font-family: $Roboto-light;
  font-size: $font-size-tiny;
  color: $color-text-no-active;
  padding-top: 37px;
}

@media (max-width: 710px) {
  .__deviceUpgrade--Conditions {
    flex-direction: column;
  }

  .deviceUpgrade--ModernizationArrowWrap {
    width: 300px;
    height: 80px;
  }

  .deviceUpgrade--ModernizationArrow {
    transform: rotate(90deg);
    top: 0;
  }
}

@media (max-width: 690px) {
  .deviceUpgrade--InputWrap {
    flex-direction: column;
  }

  .deviceUpgrade--PaymentMethodDescription{
    padding-top: 0;
  }

  .deviceUpgrade-ItemRowGrow{
    width: 300px;
    margin: 0 auto;
  }

}