/*The Wrapper*/
.my-scrollbar {
  width: 35%;
  min-width: 300px;
  max-height: 450px;
}

/*The Content*/
.scroll-me {
  min-width: 750px;
}

.privacyPoint {
  padding: 0 10px;
}

.privacyPoint--innerWrap {
  width: 210px;
}

.privacyPoint--header {
  padding: 10px 20px 15px 20px;
  white-space: nowrap;
  font-family: $Roboto-regular;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  color: $color-primary;

}

.privacyPoint--CheckBox {
  padding-top: 15px;
  padding-left: 10px;
  > div {
    padding-bottom: 10px;
  }
}

@media (max-width: $layout-breakpoint-sm-tablet) {
  .privacyPoint {
    width: $x6;
    padding-bottom: 50px;
    &.__lastPrivacyPoint {
      padding-bottom: 0;
    }
    //padding: 4%;
  }
}

@media (max-width: $layout-breakpoint-xxs) {
  .privacyPoint {
    width: $x12;
    //padding: 8%;
  }
}