@import "~_global_config.scss";
@import "../../lib/selectType/_config";


.SelectAndCheckedInputType__item{
  display: table;
  margin-top: 20px;
  height: 46px;
  cursor: default;
}

.SelectAndCheckedInputType__roundedItem{
  box-sizing: border-box;
 /*padding: 0 13px;*/
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 44px;
  min-width: 44px;
  border: $noactive_border;
  border-radius: $radius;
  box-sizing: border-box;
}

.SelectAndCheckedInputType__bodyItem{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  color: $color-primary;
  font-size: 14px;
}

.SelectAndCheckedInputType__bodyItem__spacer{
  padding: 0 4px;
}

.SelectAndCheckedInputType__scrollContainer{
  display: none;
  &.SelectAndCheckedInputType__active{
    display: block;
  }
}

.SelectAndCheckedInputType__selectTypeContainer{
  border: $noactive_border;
  border-radius: $radius;
  box-sizing: border-box;
  transition: border $main-transition;
  cursor: pointer;
  &.SelectAndCheckedInputType__active{
    .SelectAndCheckedInputType__selectTypeValues{
      display:block;
    }
  }
  &:hover, &.SelectAndCheckedInputType__checked {
    border: $active_border;
  }
}

.SelectAndCheckedInputType__checkedType{
  box-sizing: border-box;
  padding: 0 13px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 46px;
  min-width: 46px;
}

.SelectAndCheckedInputType__checkedType{
  transition: border $main-transition, background-size $arrow-transition;
  background: $profile-checkMark center center no-repeat;
  background-size: 0 0;
  &.SelectAndCheckedInputType__checked {
    background-size: 11px 8px;
  }
}






