
.addPressurePopUpWindow {
  margin: 0 auto;
  width: 480px;
}

.dialog__addPressurePopUp .dialog__body::-webkit-scrollbar {
  width: 0;
}

.dialog__addPressurePopUp .dialog__body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.AddPressureInputType__item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  color: #262a31;
  font-size: 14px;
}

.addPressure--headerWrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 32px;
}

.addPressure--IconContainer {
  display: table;
  padding-left: 6px;
  p {
    color: #df5f5d;
    font-size: 16px;
    padding-left: 16px;
    vertical-align: middle;
    display: table-cell;
    font-family: $Roboto-regular;
  }
}

.addPressure--icon {
  width: 30px;
  height: 30px;
}

.addPressure--headerDateWrap {
  display: table;
  height: 26px;
  padding-right: 6px; //40px;
}

.addPressure--headerDate {
  display: table-cell;
  vertical-align: bottom;
  font-family: $Roboto-regular;
  font-size: 12px;
  color: #a5a9b4;
}

.addPressure--InputTypeWrap {
  display: table;
  margin: 0 auto;
}

.addPressure--InputTypePressureIndexWrap {
  display: flex;
  padding: 0 13px;
  float: left;
}

.addPressure--InputTypePulse {
  padding-bottom: 9px;
}

.addPressure--InputType__text {
  font-family: $Roboto-regular;
  font-size: 14px;
  color: #6b7485;
  padding-bottom: 17px;
  p:last-child {
    font-family: $Roboto-light;
    font-size: 12px;
    color: #a5a9b4;
  }
}

.addPressure--InputTypeTimeText {
  font-family: $Roboto-regular;
  font-size: 14px;
  color: #6b7485;
  padding-bottom: 29px;
}

.addPressure--InputTypeTime__minutes {
  margin-top: 43px;
}

.addPressure--InputTypeSlash {
  padding: 60px 10px 0;
  font-size: 14px;
}

.addPressure--InputTypeColon {
  padding: 60px 10px 0;
}

.addPressure--InputTypeTimeSlash {
  padding: 35px 10px 0;
}

.addPressureInputNote {
  max-width: 404px;
  margin: 0 auto;
  padding: 0 2px 0;
}

.sis_dias_Error {
  display: table;
  padding: 5px 0 0 48px;
  color: red;
  font-size: 10px;
}

.AddPressureSmileWrap {
  justify-content: space-between;
  padding: 28px 40px 0;
  display: flex;
}

.AddPressure--ButtonWrap__computer {
  padding: 32px 40px 30px;
  display: flex;
  justify-content: space-between;
}

.AddPressure--ButtonWrap__mobile {
  display: none;
}

.addPressurePopUp--informDayTitle {
  text-align: center;
  padding-top: 120px;
  font-family: $Roboto-light;
  font-size: 25px;
  color: #262a31;
}

.addPressurePopUp--informDayText {
  text-align: center;
  font-family: $Roboto-light;
  font-size: 16px;
  color: #262a31;
  padding: 60px 45px 0;
  line-height: 1.31;
}

.addPressurePopUp--informDayInformation {
  padding-top: 15px;
  font-family: $Roboto-regular;
  font-size: 16px;
  color: #a58144;
  text-align: center;
}

.addPressurePopUp--informDayButtonWrap {
    padding: 116px 0 69px;
}

.addPressurePopUp--timeErrorTitle {
  padding-top: 120px;
  font-family: $Roboto-light;
  font-size: 25px;
  text-align: center;
  color: #262a31;
}

.addPressurePopUp--timeErrorText {
  padding: 60px 45px 0;
  font-family: $Roboto-light;
  line-height: 1.31;
  text-align: center;
  color: #262a31;
  font-size: 16px;
}

.addPressurePopUp--timeErrorButtonWrap {
     padding: 111px 0 65px;
}

.addPressurePopUpWindow .inputTextType__inputElement {
  height: 35px;
}

.indexesPressure--smileWrap {
  width: 35px;
  margin: 0 auto;
  height: 35px;
}

.popUpPressure--smile {
  height: 35px;
  width: 35px;
  display: flex;

}

@media (max-width: 480px) {
.addPressurePopUpWindow{
  width: 100%;
}
}

@media (max-width: 440px) {

  .AddPressureSmileWrap {
    padding: 28px 20px 0;
  }

  .addPressureInputNote {
    padding: 0 20px 0;
  }

  .AddPressureSmileWrap {
    padding-top: 10px;
  }
  .AddPressure--ButtonWrap__computer {
    display: none;
  }

  .AddPressure--ButtonWrap__mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .addPressurePopUpWindow .AddPressure--Button {
    padding: 51px 0 20px;
  }
  .addPressure--InputTypeColon {
    display: none;
  }
  .addPressure--InputTypeSlash {
    padding: 60px 5px 0;
  }
  .addPressure--InputTypeWrap .SelectTypeMedcart__selectType {
    padding: 0 7.5px;
    width: 52px;
  }
  .addPressure--InputTypeWrap .scrollBarSelectType__area {
    width: 52px;
  }

  .sis_dias_Error {
    padding: 5px 0 0 10px;
  }

}

@media (max-width: 400px) {

  .addPressurePopUpWindow .addPressure--InputTypePressureIndexWrap {
    padding: 5px 0 0 2px;
  }

  .addPressure--InputTypeWrap {
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
  }

}

@media (max-width: 350px) {

  .addPressure--InputTypeWrap {
    padding: 0;
  }

  .addPressure--headerWrap {
    padding: 20px 5px 30px;
  }

  .addPressure--IconContainer {
    p {
      padding-left: 5px;
    }
  }

}

@media (max-width: 340px) {

  .addPressurePopUpWindow {

    .addPressure--headerDateWrap {
      padding-right: 5px;
    }

    .addPressure--IconContainer {
      padding-left: 5px;
    }

  }

}