.editMenuWrap {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.DownloadMenuWrap{
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.SaveAs--pdfXlsx__mobileWrap{
  padding-bottom: 6px;
}

.tdWidth{
   width: 100px;

}

.tBodyPdf{
    display: table;

}


.trHeight{
    height: 120px;
}

.trHeaderPdf{
     width: 800px;
      display: table;
}

#fromPDF{
  display: table;

}

.fromPDFNote{
  width: 800px;

}