.editPressure--not_manuallyWrap {
  display: table;
  width: 100%;
  padding: 13px 0 25px;
}

.editPressure--tonometerBlockSis {
  float: left;
  width: 35%;
}

.editPressure--tonometerBlockDias {
  float: left;
  width: 40%;
}

.editPressure--tonometerBlockPulse {
  float: left;
  width: 25%;
}

.editPressure--tonometerIndex {
  float: left;
  font-family: $Roboto-light;
  font-size: 30px;
}

.editPressure--tonometerInformWrap {
  display: table;
  font-family: $Roboto-regular;
  font-size: 12px;
  color: #262a31;
  padding: 3px 0 0 10px;
}

.editPressure--tonometerData {
  display: table;
}

.editPressure--tonometerIndexStatus {
  font-family: $Roboto-regular;
  font-size: 14px;
  padding-top: 6px;
}

.editPressure--not_manuallyWrap__borderBottom {
  margin: 0 40px;
  border-bottom: 1px solid #e7e9eb;
}

@media (max-width: $layout-breakpoint-xxs) {

  .editPressure--not_manuallyWrap {
    display: flex;
    padding: 16px 0 25px;
    justify-content: space-around;
  }

  .editPressure--not_manuallyWrap__borderBottom {
    margin: 0 25px;
  }

  .editPressure--tonometerBlockSis, .editPressure--tonometerBlockDias, .editPressure--tonometerBlockPulse {
    float: none;
    width: 33%;
  }
}

@media (max-width: 440px) {

  .editPressure--not_manuallyWrap {
    padding: 16px 0 25px;
  }

  .editPressure--not_manuallyWrap__borderBottom {
    margin: 0 24px;
  }

}

@media (max-width: 410px) {

  .editPressure--not_manuallyWrap {
    padding: 16px 0 25px;
  }

  .editPressure--tonometerInformWrap {
    padding: 3px 0 0 1px;
  }

  .editPressure--tonometerIndex {
    font-size: 27px;
  }

  .editPressure--tonometerIndexStatus {
    font-size: 13px;
  }

  .editPressure--tonometerUM {
    font-size: 11px;
  }

}

@media (max-width: 360px) {

  .editPressure--tonometerIndex {
    font-size: 25px;
  }

  .editPressure--tonometerIndexStatus {
    font-size: 12px;
  }

  .editPressure--tonometerUM {
    font-size: 9px;
  }

}

