
.waterDiary--widget {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 360px; //TODO временное значение!
  background-color: #fafafa;
  box-shadow: 0 1px 0 0 #dddfe2;
}

.waterBalance {
  margin-top: 30px;
  display: inline-block;
  height: 330px;
}

.waterBalance--status {
  font-size: 25px;
  font-weight: 300;
  color: #262a31;
  display: inline-block;
}

.waterBalance--goal {
  font-size: 25px;
  font-weight: 300;
  color: #a5a9b4;
  display: inline-block;
}

.waterBalance--difference {
  font-size: 12px;
  font-weight: 300;
  color: #a5a9b4;
  margin-top: 5px;
}

.waterDiary--progressBar {
  width: 440px;
  margin: 30px auto 0;
}

.waterDiary--progress1 {
  width: 295px;
  height: 4px;
  border-radius: 3.5px;
  background-color: #2db4e5;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.waterDiary--progress2 {
  width: 440px;
  height: 2px;
  margin: 0 auto;
  border-radius: 3.5px;
  background-color: #dddfe2;
}

.waterDiary--book {
  width: 100%;
  margin: auto;
  height: 100%;
  min-height: calc(100vh - 498px);
  background: white;
}

.waterDiary--listBar {
  width: 100%;
  height: 55px;
  background-color: rgba(231, 233, 235, 0.45);
  box-shadow: 0 -1px 0 0 #dddfe2, 0 1px 0 0 #dddfe2;
}

.waterDiary--indicatorWrap {
  width: 20%;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.waterDiary--indicator {
  width: 8px;
  height: 8px;
  background-color: #2db4e5;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.waterDiary--ListBarWrap {
  margin: auto;
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.waterDiary--description { //временное значение
  width: 20%;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  color: #6b7485;
  //border: 1px solid red;
}

.waterBook--row {
  display: flex;
  width: 98%;
  margin: 1px auto;
  align-items: center;
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  height: 63px;
  background-color: white;
  border-bottom: 1px solid #dddfe2;
}

.waterBook--column {
  width: 20%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.waterBook--bigColumn {
  width: 40%;
  display: flex;
}

.waterBook--smallColumn {
  width: 30%;
  margin-left: 15%;
  text-align: left;
}

.waterBook__time {
  color: #a5a9b4;
}

.waterBook__eat {
  color: #4e5768;
}

.waterBook__from {
  color: #262a31;
  font-family: Roboto;
}

.waterBook__much {
  color: #a5a9b4;
}

.waterBook--indicator {
  width: 8px;
  height: 8px;
  background-color: #2db4e5;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.emptyBook {
  display: block;
  background-color: #ffffff;
}

.emptyBook__waterWrap {
  margin-top: 1px;
}

.emptyBook--wrap {
  text-align: center;
}

.emptyBook--icon {
  margin-top: 50px;
  width: 50px;
  display: inline-block;
}

.emptyBook--text {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #6b7485;
}

.waterSvg {
  width: 100%;
  height: 205px;
  display: flex;
}

//.waterSvg--btn {
//  width: 15%;
//  height: inherit;
//  opacity: 0;
//  left: 0;
//  top: 0;
//}

.waterSvg--btnRight {
  right: 0;
  left: inherit;
}

.waterSvg--capacityWrap {
  width: 100%;
  max-width: 275px;
}

.waterSvg--capacity {
  transform: translateX(0);
  position: absolute;
  display: block;
  margin: auto;
  height: 100%;
  width: 275px;
  max-height: 120px;
  margin-top: 30px;
  //transition: .3s ease;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  z-index: 1;
  &.waterSvg--capacityLeft {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: .3s cubic-bezier(0, 0, 0, 1);
    &.waterSvg--capacity__checked {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
      z-index: 1;
    }
  }
  &.waterSvg--capacityCenter {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
    transition: .3s cubic-bezier(0, 0, 0, 1);
    z-index: 0;
    &.waterSvg--capacity__checked {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
      z-index: 1;
    }
  }
  &.waterSvg--capacityRight {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
    transition: .3s cubic-bezier(0, 0, 0, 1);
    z-index: 0;
    &.waterSvg--capacity__checked {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
      z-index: 1;
      + .waterSvg--capacityCenter {
        transform: translateX(-50px);
      }
    }
  }

  svg {
    height: 100%;
  }
}

.waterSvg--signature {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #2db4e5;
  margin-top: 20px;
}

.waterSvg--changeWater {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 158px auto 0;
  border-radius: 100%;
  color: #a5a9b4;
  background-color: #eeeff0;
  //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.waterSvg--changeWater:hover {
  color: #2db4e5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
  transition: .2s;
}

.waterSvg--changeWaterIcon {
  //color: #a5a9b4;
  position: relative;
  bottom: -7px;
  font-size: 25px;
}

.waterSvg--dottedChooser {
  margin: auto;
}

.waterSvg--dot {
  cursor: pointer;
  border-radius: 100%;
  display: inline-block;
  margin: auto 5px;
  width: 6px;
  height: 6px;
  background-color: #ced1d6;
}

.WaterIcons__animate {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1.5s;
}

@media (max-width: 921px) {
  .waterDiary--description {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .waterSvg {
    justify-content: space-between;
  }
  .waterBalance {
    width: 100%;
  }
  .waterDiary--progressBar {
    width: 260px;
  }
  .waterSvg--capacityWrap {
    width: 40%;
  }
  .waterSvg--capacity {
    width: inherit;
  }
  .waterDiary--description {
    width: 63%;
    display: block;
    text-align: center;
  }
  .waterBook--bigColumn {
    display: inline-block;
  }
  .waterBook--smallColumn {
    width: auto;
    padding: 5px;
  }
  .waterBook--bigColumn__smallWidth {
    width: 25%;
  }
  .waterBook--bigColumn__bigWidth {
    width: 55%;
  }
  .waterBook__time {
    font-size: 13px;
    color: #a5a9b4;
  }
  .waterBook__eat {
    font-size: 13px;
    font-weight: 300;
    color: #a5a9b4;
  }
  .waterBook__from {
    font-size: 13px;
    color: #262a31;
  }
  .waterBook__much {
    font-size: 13px;
    font-weight: 300;
    color: #262a31;
  }
}
/* --------------------- progress Bar ------------------------*/

$progress-height: 2px !default;
$progress-main-color: $color-primary !default;
$progress-secondary-color: rgba($color-primary-contrast, 0.7) !default;
$circle-wrapper-width: 30 !default;
$circle-radius: 25 !default;
$scale-ratio: $circle-radius / 20 !default;
$progress-border-radius: 3.5px;

.water__linear {
  position: relative;
  display: inline-block;
  width: 100%;
  height: $progress-height;
  //overflow: hidden;
  background: #dddfe2;
  border-radius: $progress-border-radius;
  &.water__indeterminate .water__value {
    transform-origin: center center;
    animation: linear-indeterminate-bar 1s linear infinite;
  }
}

.water__value, .water__buffer {
  position: absolute;
  height: $progress-height*2;
  top: -$progress-height/2;
  right: 0;
  bottom: 0;
  left: 0;
  transition-timing-function: $animation-curve-default;
  transition-duration: 1.5s;
  //transition-duration: .7s;
  width: 0;
  //transform: scaleX(0);
  transform-origin: left center;
  border-radius: $progress-border-radius;
}

.water__value {

  background-color: $progress-main-color;

}

.water__buffer {
  background-image: linear-gradient(to right, $progress-secondary-color, $progress-secondary-color),
  linear-gradient(to right, $progress-main-color, $progress-main-color);
}

.water__circular {
  position: relative;
  margin: 0 auto;
  width: $circle-wrapper-width * 1px;
  height: $circle-wrapper-width * 1px;
  transform: rotate(-90deg);
  &.water__indeterminate {
    .water__circle {
      animation: circular-indeterminate-bar-rotate 0.7s linear infinite;
    }
    .water__path {
      animation: circular-indeterminate-bar-dash 1.5s ease-in-out infinite;

      stroke-dasharray: $scale-ratio * 1, $scale-ratio * 200;
      stroke-dashoffset: 0;
    }
    &.water__multicolor .water__path {
      animation: circular-indeterminate-bar-dash 1.5s ease-in-out infinite,
      colors (1.5s * 4) ease-in-out infinite;
    }
  }
}

.water__circle {
  width: 100%;
  height: 100%;
}

.water__path {
  transition: stroke-dasharray $animation-duration $animation-curve-default;
  fill: none;

  stroke-dasharray: 0, $scale-ratio * 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-miterlimit: 20;
  stroke-width: 3;
  stroke: $progress-main-color;
}

/* --------------------- end progress Bar ------------------------*/